button {
    background-color: purple;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
}

.item {
    float: left;
}

#search-box {
    float: right;
}

#search-input {
    font-family: sans-serif;
}

#animal-input {
    width: 300px;
}

#gif-results {
    margin-right: 320px;
}